@tailwind base;
@tailwind components;
@tailwind utilities;

.header {
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.05);
  background-color: white;
}